{#
/**
 * @file
 * Default implementation of our example template link.
 *
 * Available variables:
 * - url: The plain url variable.
 * - text: The link text.
 * - link: The formatted link.
 */
#}
<h2>Date</h2>

<div class="date-wrapper">
  {{ date|date('j F Y') }}
</div>
